:root{
    --bord:rgb(113, 113, 113);
}

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    letter-spacing: 2px;
}

html,body {
    scrollbar-width:thin;
    scrollbar-color: black white;
    scrollbar-arrow-color: black;
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 90px;
    background:linear-gradient(to top,rgb(36, 36, 36),black);
    width: 100%;
}

li {
    list-style: none;
}

nav {
    z-index: 1000;
    background-color: rgba(64, 64, 64, 0.284);
    backdrop-filter: blur(5px);
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    align-items: center;
    border-bottom: 1px solid var(--bord);
}

nav ul {
    /* background-color: aqua; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;

}

nav ul li {
    /* background-color: rgb(43, 214, 13); */
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li img{
    width: 18px;
    margin-right: 7px;
}
nav ul a {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    color: white;
    height: fit-content;
    font-size: 1.3rem;
    font-weight: 300;
}

nav ul a::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2%;
    background-color: white;
    bottom: -2px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

nav ul a:hover::after{
    width:96%;
}

.mar1{
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    word-spacing: 15px;
    border-bottom: 1px solid var(--bord);
}
#l1 {
    /* background-color: aquamarine; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    text-decoration: none;
    color: white;
}

.logo h1,footer a h1{
    font-size: 3rem;
    font-weight: 100;
}

.con {
    /* background-color: aqua; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid var(--bord);
}

form {
    /* background-color: rgb(43, 214, 13); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

form .input-box{
    position: relative;
    width: 25%;
}
form .inputs{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    border-radius: 1px;
    font-weight: 200;
    background-color: black;
    border: 1px solid var(--bord);
    font-size: 1.3rem;
    padding: 15px 10px;    
    outline: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

form .inputs:focus,textarea:focus{
    border: 1px solid white;
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
}

.input-box span{
    transition: all 0.3s ease-in-out;
    display: inline;
    color: rgb(168, 168, 168);
    font-size: 1.3rem;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 200;
}

.input-box .inputs:focus ~ span,.input-box .inputs:valid ~ span{
    z-index: 100;
    font-size: 0.9rem;
    padding: 0px 2px;
    top: 0;
    background-color: rgb(22, 22, 22);
    color: white;
}

form textarea{
    height: 100px;
}
::placeholder {
    font-size: 1.3rem;
    color: rgb(168, 168, 168);
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    display: none;
}

textarea{
    transition: all 0.3s ease-in-out;
    scrollbar-width: thin;
    resize: none;
    width: 25%;
    font-size: 1.3rem;
    border-radius:1px;
    padding: 0;
    outline: none;
    background-color:black;
    color: rgb(144, 144, 144);
}

.input-box:nth-child(5) span{
    top: 25%;
}

#sub{
    transition: all 0.3s ease-in-out;
    width: 25%;
    border: none;
    position: relative;
    font-size: 1.3rem;
    color: rgb(144, 144, 144);
    cursor: pointer;
    padding: 15px 10px;
    font-weight: 200;
    background-color:black;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#sub::after,#sub::before{
    transition: all 0.4s ease-in-out;
    z-index: -10;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    padding: 2px;
}

#sub::after{
    animation: spin 2s linear infinite;
    background: conic-gradient(from var(--angle),transparent 50%,white,white);
}

#sub::before{
    background-color: white;
    filter: blur(10px);
    opacity: 0.3;
}

#sub:hover{
    color: white;
}

#sub:hover::after{
    opacity: 0;
}

#sub:hover::before{
    opacity: 0.1;
}
@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}

#main{
    opacity: 0;
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    border-right: 1px solid white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width:0;}
}

.para{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 40px;
    font-weight: 250;
    height: 400px;
    width: 100%;
    border-bottom:1px solid var(--bord);
}

.p-head{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
}
.p-head h2{
    font-size: 3.5rem;
    font-weight: 400;
}
.pcont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}
.para p{
    width: 65%;
}

.para img{
    width: 15%;
    object-fit: cover;
}

::selection{
    background-color: white;
    color: black;
}

.projects{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom:1px solid var(--bord) ;
}
.projects h2{
    display: flex;
    align-items: center;
    height: 20%;
    width: 90%;
    font-size: 3.5rem;
    font-weight: 400;
    opacity: 0;
}
.proj-cont{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.proj-card{
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    padding: 0px 70px;
    background-color: black;
    border: 1px solid var(--bord);
    box-sizing: border-box;
    opacity: 0;
}

.proj-card img{
    transition: all 0.4s ease-in-out;
    opacity: 0.6;
    width:190px;
}

.proj-card:nth-child(1){
    animation-delay: 1s;
}

.proj-card:nth-child(2){
    animation-delay: 2s;
}

.proj-card:nth-child(3){
    animation-delay: 3s;
}
.proj-card h3{
    transition: all 0.4s ease-in-out;
    opacity: 0.6;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 200;
}
.proj-card:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.4);
}
.proj-card:hover img{
    opacity: 1;
}

.proj-card:hover h3{
    opacity: 1;
}
a{
    text-decoration: none;
}

@keyframes slideRight {
    from{
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-100%)scale(0.5);
        transition: all 1s;
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0)scale(1);
    }
}

.scroll-btn{
    transition: all 1s ease-in-out;
    z-index: 10000;
    position: fixed;
    right: 30px;
    bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: white;
    font-size: 1.3rem;
    border: 1px solid transparent;
    cursor: pointer;
    color:black;
    font-weight: 250;
    transform: translateX(200%);
}

.scroll-btn:hover,.scroll-btn:active{
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0.8);
}

.services{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom:1px solid var(--bord);
}

.services h2{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight:400;
    opacity: 0;
}

.serv-container{
    display: grid;
    gap: 50px;
    height: 70%;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.267);
    height: 100%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

.service h3{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 300;
}

.serv-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.serv-img img{
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
    width: 100px;
}

.service:hover{
    border: 1px solid white;
    box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.4);
}

.service:hover .serv-img img{
    opacity: 1;
}

@keyframes servani{
    from{
        filter: blur(20px);
        transform: translateY(100%);
    }
    to{
        filter: blur(0px);
        transform: translateY(0%);
    }
}

footer{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 30%;
}
.contact h2,footer .social h2{
    font-size: 1.8rem;
    font-weight: 500;
}
.contact a{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    width: fit-content;
}
.contact a::after{
    content: '';
    position: absolute;
    background-color: white;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2%;
    transition: all 0.3s ease-in-out;
}
.contact a:hover::after{
    width: 100%;
}
footer .flogo{
    width: 20%;
    align-items: center;
}
footer .flogo h1{
    display: inline;
}
footer .social{
    width: 20%;
}
footer .social i{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1.8rem;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}
footer .social i:hover{
    opacity: 1;
}
footer .social a{
    display: inline;
}

